html {
    /* background-image: url("../style/img/background.jpg"); */
    background-color: black;
    /* background-repeat: no-repeat;
    background-position: center; */
    background-blend-mode:darken;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    margin-top: 3%;
    font-size: 2.5rem;
}

h4 {
    color: whitesmoke;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 2rem;
    margin: 3% 0;
}
p {
    color: whitesmoke;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
}
.sound-button {
    border: 1px inset rgba(253, 253, 253, 0.466);
    border-radius: 25px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(60, 193, 233, 0.5);
    box-shadow: 5px 5px 5px rgba(44, 233, 75, 0.466);
}

#grid-item1 {
    grid-area: grid-item1;
    height: 5em;
}

#grid-item2 {
    grid-area: grid-item2;
    height: 5em;
}

#grid-item3 {
    grid-area: grid-item3;
    height: 5em;
}

#grid-item4 {
    grid-area: grid-item4;
    height: 5em;
}

#grid-item5 {
    grid-area: grid-item5;
    height: 5em;
}

#grid-item6 {
    grid-area: grid-item6;
    height: 5em;
}

#grid-item7 {
    grid-area: grid-item7;
    height: 5em;
}

#grid-item8 {
    grid-area: grid-item8;
    height: 5em;
}

#grid-item9 {
    grid-area: grid-item9;
    height: 5em;
}
main {
    display: grid;
    margin: 3% 5% 3% 5%;
    row-gap: 3%; 
    column-gap: 2%;   
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
        "grid-item7 grid-item8 grid-item9"
        "grid-item4 grid-item5 grid-item6"
        "grid-item1 grid-item2 grid-item3";
}

@media screen and (max-width:897px) {
    h4 {
        font-size: 1.5rem;
        margin-top: 11%;
    }
    
}